# Data Cleaning & Preprocessing
## Overview
This notebook handles data cleaning, preprocessing, and feature engineering for the Olist e-commerce dataset.

## Sections
1. Data Loading
2. Handling Missing Values
3. Data Type Conversion
4. Outlier Detection & Treatment
5. Feature Engineering

## Sections
1. [Setup and Imports](#1-setup-and-imports)
2. [Data Loading](#2-data-loading)
3. [Data Cleaning](#3-data-cleaning)
4. [Data Validation](#4-data-validation)
5. [Data Transformation](#5-data-transformation)
6. [Data Export](#6-data-export)

### 1. Setup and Imports
<a id='1-setup-and-imports'></a>

In [5]:
# Import required libraries
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
import warnings

# Suppress warnings
warnings.filterwarnings('ignore')

# Set display options
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_colwidth', 100)

# Set style for plots
# Set style and palette for data cleaning
plt.style.use('seaborn-v0_8-whitegrid')  # Clean grid without color background
sns.set_theme(style="whitegrid", 
             rc={'axes.facecolor':'white', 
                 'figure.facecolor':'white'})  # White background
sns.set_palette("Greys")  # Monochromatic, professional look

# Set paths
BASE_DIR = Path.cwd().parent
DATA_RAW = BASE_DIR / 'data' / 'raw'
DATA_PROCESSED = BASE_DIR / 'data' / 'processed'

# Create processed directory if it doesn't exist
os.makedirs(DATA_PROCESSED, exist_ok=True)

# Print configuration
print(f"Current working directory: {Path.cwd()}")
print(f"Data directory (raw): {DATA_RAW}")
print(f"Data directory (processed): {DATA_PROCESSED}")

Current working directory: e:\Customer_Churn_Prediction_and_Retention_Dashboard\notebooks
Data directory (raw): e:\Customer_Churn_Prediction_and_Retention_Dashboard\data\raw
Data directory (processed): e:\Customer_Churn_Prediction_and_Retention_Dashboard\data\processed

### 2. Data Loading
<a id= '2-data-loading'></a>

In [ ]:
# Load datasets here
# customers = pd.read_csv('../data/raw/olist_customers_dataset.csv')
# orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')
# order_items = pd.read_csv('../data/raw/olist_order_items_dataset.csv')

In [ ]:
## Robust features:-
# error handling
# memory management
# clear documentation
# scalability

In [8]:
# Function to load data with error handling
def load_data(file_name, data_dir=DATA_RAW, verbose=True, show_sample= True, sample_size=5):
    """
    Load a CSV file from the specified directory with error handling and memory optimization.
    Includes sample data display
    
    Parameters:
    - file_name (str): Name of the CSV file to load
    - data_dir (Path): Directory containing the data files
    - verbose (bool): Whether to print loading information
    
    Returns:
    - pd.DataFrame: Loaded dataframe or None if loading fails
    """
    try:
        # create full file path
        file_path = data_dir / file_name

        # print loading message if verbose if True
        if verbose:
            print(f"Loading {file_name}...")
        
        # Initial load with optimized dtypes
        # loading the csv file into pd dataframe
        df = pd.read_csv(file_path)
        
        if verbose:
            print(f"  Rows: {df.shape[0]:,}")
            print(f"  Columns: {df.shape[1]}")
            print(f"  Memory usage: {df.memory_usage(deep=True).sum() / (1024**2):.2f} MB")
            # df.memory_usage()--> returns the memory usage of each column in bytes
            # deep=True tells pandas to scan the actual data for accurate memory usage
            # Without deep=True, it only counts references to objects
            
            # show sample if requested
            if show_sample:
                print("\n Sample data:")
                # Display first 5 rows with all columns
                with pd.option_context('display.max_columns', None,
                                     'display.width', 1000,
                                     'display.max_colwidth', 30):
                    display(df.head(sample_size))
            else:
                print("  First 5 columns:", df.columns.tolist()[:5])

            print("=" * 150)

        return df
    
    except FileNotFoundError:
        print(f"Error: File {file_name} not found in {data_dir}")
        return None
    except Exception as e:
        print(f"Error loading {file_name}: {str(e)}")
        return None

# List of all data files to load
data_files = [
    'olist_customers_dataset.csv',
    'olist_geolocation_dataset.csv',
    'olist_order_items_dataset.csv',
    'olist_order_payments_dataset.csv',
    'olist_order_reviews_dataset.csv',
    'olist_orders_dataset.csv',
    'olist_products_dataset.csv',
    'olist_sellers_dataset.csv',
    'product_category_name_translation.csv'
]

print("Starting data loading process...\n")

# Two approaches can be taken to access the data later.
# 1. dictionary--> useful for batch operations
# 2. Individual variables-->  More readability for specific analyses

# 1. Load all datasets into a dictionary
data = {}
for file in data_files:
    df_name = file.split('.')[0].replace('-', '_')
    data[df_name] = load_data(file)

# 2. Make datasets available as individual variables
customers = data['olist_customers_dataset']
geolocation = data['olist_geolocation_dataset']
order_items = data['olist_order_items_dataset']
order_payments = data['olist_order_payments_dataset']
order_reviews = data['olist_order_reviews_dataset']
orders = data['olist_orders_dataset']
products = data['olist_products_dataset']
sellers = data['olist_sellers_dataset']
category_translation = data['product_category_name_translation']

print("\nAll datasets loaded successfully!")

Starting data loading process...

Loading olist_customers_dataset.csv...
  Rows: 99,441
  Columns: 5
  Memory usage: 29.62 MB

 Sample data:

                     customer_id             customer_unique_id  customer_zip_code_prefix          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00...  861eff4711a542e4b93843c6dd...                     14409                 franca             SP
1  18955e83d337fd6b2def6b18a4...  290c77bc529b7ac935b93aa66c...                      9790  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0...  060e732b5b29e8181a18229c7b...                      1151              sao paulo             SP
3  b2b6027bc5c5109e529d4dc635...  259dac757896d24d7702b9acbb...                      8775        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e3...  345ecd01c38d18a9036ed96c73...                     13056               campinas             SP

======================================================================================================================================================
Loading olist_geolocation_dataset.csv...
  Rows: 1,000,163
  Columns: 5
  Memory usage: 145.20 MB

 Sample data:

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
0                         1037           -23.55           -46.64        sao paulo                SP
1                         1046           -23.55           -46.64        sao paulo                SP
2                         1046           -23.55           -46.64        sao paulo                SP
3                         1041           -23.54           -46.64        sao paulo                SP
4                         1035           -23.54           -46.64        sao paulo                SP

======================================================================================================================================================
Loading olist_order_items_dataset.csv...
  Rows: 112,650
  Columns: 7
  Memory usage: 39.43 MB

 Sample data:

                        order_id  order_item_id                     product_id                      seller_id  shipping_limit_date  price  freight_value
0  00010242fe8c5a6d1ba2dd792c...              1  4244733e06e7ecb4970a6e2683...  48436dade18ac8b2bce089ec2a...  2017-09-19 09:45:35  58.90          13.29
1  00018f77f2f0320c557190d7a1...              1  e5f2d52b802189ee658865ca93...  dd7ddc04e1b6c2c614352b383e...  2017-05-03 11:05:13 239.90          19.93
2  000229ec398224ef6ca0657da4...              1  c777355d18b72b67abbeef9df4...  5b51032eddd242adc84c38acab...  2018-01-18 14:48:30 199.00          17.87
3  00024acbcdf0a6daa1e931b038...              1  7634da152a4610f1595efa32f1...  9d7a1d34a5052409006425275b...  2018-08-15 10:10:18  12.99          12.79
4  00042b26cf59d7ce69dfabb4e5...              1  ac6c3623068f30de03045865e4...  df560393f3a51e74553ab94004...  2017-02-13 13:57:51 199.90          18.14

======================================================================================================================================================
Loading olist_order_payments_dataset.csv...
  Rows: 103,886
  Columns: 5
  Memory usage: 17.81 MB

 Sample data:

                        order_id  payment_sequential payment_type  payment_installments  payment_value
0  b81ef226f3fe1789b1e8b2acac...                   1  credit_card                     8          99.33
1  a9810da82917af2d9aefd1278f...                   1  credit_card                     1          24.39
2  25e8ea4e93396b6fa0d3dd708e...                   1  credit_card                     1          65.71
3  ba78997921bbcdc1373bb41e91...                   1  credit_card                     8         107.78
4  42fdf880ba16b47b59251dd489...                   1  credit_card                     2         128.45

======================================================================================================================================================
Loading olist_order_reviews_dataset.csv...
  Rows: 99,224
  Columns: 7
  Memory usage: 42.75 MB

 Sample data:

                       review_id                       order_id  review_score review_comment_title         review_comment_message review_creation_date review_answer_timestamp
0  7bc2406110b926393aa56f80a4...  73fc7af87114b39712e6da79b0...             4                  NaN                            NaN  2018-01-18 00:00:00     2018-01-18 21:46:59
1  80e641a11e56f04c1ad469d564...  a548910a1c6147796b98fdf73d...             5                  NaN                            NaN  2018-03-10 00:00:00     2018-03-11 03:05:13
2  228ce5500dc1d8e020d8d13228...  f9e4b658b201a9f2ecdecbb34b...             5                  NaN                            NaN  2018-02-17 00:00:00     2018-02-18 14:36:24
3  e64fb393e7b32834bb789ff8bb...  658677c97b385a9be170737859...             5                  NaN  Recebi bem antes do prazo ...  2017-04-21 00:00:00     2017-04-21 22:02:06
4  f7c4243c7fe1938f181bec41a3...  8e6bfb81e283fa7e4f11123a3f...             5                  NaN  Parabéns lojas lannister a...  2018-03-01 00:00:00     2018-03-02 10:26:53

======================================================================================================================================================
Loading olist_orders_dataset.csv...
  Rows: 99,441
  Columns: 8
  Memory usage: 58.97 MB

 Sample data:

                        order_id                    customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f...  9ef432eb6251297304e76186b1...    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150...  b0830fb4747a6c6d20dea0b8c8...    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf0...  41ce2a54c0b03bf3443c3d931a...    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97...  f88197465ea7920adcdbec7375...    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb557...  8ab97904e6daea8866dbdbc4fb...    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02           2018-02-26 00:00:00

======================================================================================================================================================
Loading olist_products_dataset.csv...
  Rows: 32,951
  Columns: 9
  Memory usage: 6.79 MB

 Sample data:

                      product_id  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  1e9e8ef04dbcff4541ed26657e...             perfumaria                40.00                      287.00                1.00            225.00              16.00              10.00             14.00
1  3aa071139cb16b67ca9e5dea64...                  artes                44.00                      276.00                1.00           1000.00              30.00              18.00             20.00
2  96bd76ec8810374ed1b65e2919...          esporte_lazer                46.00                      250.00                1.00            154.00              18.00               9.00             15.00
3  cef67bcfe19066a932b7673e23...                  bebes                27.00                      261.00                1.00            371.00              26.00               4.00             26.00
4  9dc1a7de274444849c219cff19...  utilidades_domesticas                37.00                      402.00                4.00            625.00              20.00              17.00             13.00

======================================================================================================================================================
Loading olist_sellers_dataset.csv...
  Rows: 3,095
  Columns: 4
  Memory usage: 0.66 MB

 Sample data:

                       seller_id  seller_zip_code_prefix        seller_city seller_state
0  3442f8959a84dea7ee197c632c...                   13023           campinas           SP
1  d1b65fc7debc3361ea86b5f14c...                   13844         mogi guacu           SP
2  ce3ad9de960102d0677a81f5d0...                   20031     rio de janeiro           RJ
3  c0f3eea2e14555b6faeea3dd58...                    4195          sao paulo           SP
4  51a04a8a6bdcb23deccc82b0b8...                   12914  braganca paulista           SP

======================================================================================================================================================
Loading product_category_name_translation.csv...
  Rows: 71
  Columns: 2
  Memory usage: 0.01 MB

 Sample data:

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

======================================================================================================================================================

All datasets loaded successfully!

### 3. Data Cleaning
<a id= '3-data-cleaning'></a>

In [ ]:
def analyze_missing_values(df, business_importance=None):
    """
    Enhanced missing value analysis with business context.
    
    Parameters:
    - df: Input DataFrame
    - business_importance: dict of {column: importance_score (1-10)}
    
    Returns:
    - DataFrame with missing value analysis and priority scores
    """
    # Calculate basic missing stats
    missing = df.isnull().sum()
    missing_pct = (missing / len(df)) * 100
    
    # Create analysis DataFrame
    analysis = pd.DataFrame({
        'missing_count': missing,
        'missing_pct': missing_pct
    })
    
    # Add business context if provided
    if business_importance:
        analysis['importance'] = analysis.index.map(
            lambda x: business_importance.get(x, 5)  # Default importance 5/10
        )
    else:
        # If no importance provided, use a simple heuristic
        analysis['importance'] = analysis.index.map(
            lambda x: 8 if 'id' in x.lower() or 'date' in x.lower() else 5
        )
    
    # Calculate priority score (lower is better)
    analysis['priority_score'] = (
        (analysis['missing_pct'] / 100) *  # Normalize to 0-1
        (1 / (analysis['importance'] / 10))  # Invert importance (1-10 to 0.1-1)
    )

    # Higher importance → Lower score (because we divide by it)

    # Combined Effect:
    # High missing % + Low importance = High priority score (big number)
    # Low missing % + High importance = Low priority score (small number)

    # Add recommended action
    conditions = [
        (analysis['missing_pct'] == 0),
        (analysis['missing_pct'] > 30) & (analysis['importance'] < 5),
        (analysis['missing_pct'] > 50)
    ]
    choices = [
        'No action needed',
        'Consider dropping - high missing, low importance',
        'Drop - extremely high missing'
    ]
    
    analysis['recommended_action'] = np.select(conditions, choices, default='Impute')
    
    # np.select() works like an advanced if-else statement
    # It checks each condition in order and picks the corresponding choice
    # If no conditions match, it uses the default value ('Impute')
    
    return analysis.sort_values('priority_score', ascending=True)

In [ ]:
def handle_missing_values(df, analysis, auto_handle=True):
    """
    Handle missing values based on the analysis.
    
    Parameters:
    - df: Input DataFrame
    - analysis: Output from analyze_missing_values
    - auto_handle: If True, automatically handles missing values
    
    Returns:
    - Cleaned DataFrame
    - Report of actions taken
    """
    df_clean = df.copy()
    actions_taken = []
    
    for col in analysis.index:
        if analysis.loc[col, 'missing_count'] == 0:
            continue
            
        action = analysis.loc[col, 'recommended_action']
        row = {
            'column': col,
            'missing_pct': analysis.loc[col, 'missing_pct'],
            'importance': analysis.loc[col, 'importance'],
            'recommended_action': action
        }
        
        if not auto_handle:
            actions_taken.append(row)
            continue
            
        try:
            if 'drop' in action.lower():
                df_clean = df_clean.drop(columns=[col])
                row['action_taken'] = 'Dropped column'
            elif action == 'Impute':
                # For numeric columns
                if np.issubdtype(df_clean[col].dtype, np.number):
                    if abs(df_clean[col].skew()) < 1:  # Normal distribution
                        fill_value = df_clean[col].mean()
                        method = 'mean'
                    else:  # Skewed distribution
                        fill_value = df_clean[col].median()
                        method = 'median'
                else:  # Categorical
                    fill_value = df_clean[col].mode()[0] if not df_clean[col].mode().empty else 'Unknown'
                    method = 'mode'
                
                df_clean[col] = df_clean[col].fillna(fill_value)
                row['action_taken'] = f'Imputed with {method}'
            else:
                row['action_taken'] = 'No action taken'
                
        except Exception as e:
            row['action_taken'] = f'Error: {str(e)}'
            
        actions_taken.append(row)
    
    return df_clean, pd.DataFrame(actions_taken)

In [ ]:
# Example usage for a dataset:
# 1. Define business importance (customize per dataset)
business_importance = {
    'customer_id': 10,    # Critical identifier
    'order_id': 10,       # Critical identifier
    'order_status': 9,    # Critical for analysis
    'order_purchase_timestamp': 9,
    'payment_value': 8,
    'review_score': 7,
    'product_category_name': 6,
    'seller_id': 6,
    'freight_value': 5,
    'payment_installments': 5,
    'review_comment_title': 3,  # Less critical
    'review_comment': 2         # Least critical
}

# 2. Analyze missing values
print("=== Missing Value Analysis ===")
analysis = analyze_missing_values(orders, business_importance)
display(analysis)

# 3. Handle missing values (with preview)
print("\n=== Handling Missing Values ===")
df_clean, report = handle_missing_values(orders, analysis, auto_handle=False)
print("\nRecommended actions:")
display(report)

# 4. Uncomment to apply changes
# df_clean, report = handle_missing_values(orders, analysis, auto_handle=True)
# print("\nActions taken:")
# display(report)

Key Features:
Business Context Integration:
Custom importance scores for each column
Priority calculation considers both missingness and importance
Smart Recommendations:
Suggests dropping columns with high missing and low importance
Recommends imputation for important columns
Handles different data types appropriately
Transparent Process:
Clear reporting of all actions
Separation of analysis and action
Easy to review before applying changes
Flexible:
Preview changes before applying
Customizable importance scores
Handles both automatic and manual modes

In [ ]:
# Process all datasets
cleaned_data = {}
for name, df in data.items():
    print(f"\n{'='*50}")
    print(f"Processing: {name}")
    print("="*50)
    
    # 1. Analyze
    analysis = analyze_missing_values(df, business_importance)
    display(analysis.head(10))  # Show top priorities
    
    # 2. Handle (uncomment to apply)
    # df_clean, report = handle_missing_values(df, analysis, auto_handle=True)
    # cleaned_data[name] = df_clean
    # display(report)
    
    print("\n" + "="*50 + "\n")

In [ ]:
# 1. Handle Missing Values

def analyze_missing_data(df, df_name):
    """Analyze and report missing values in a DataFrame."""
    # Calculate missing values
    missing = df.isnull().sum()
    missing_percent = (missing / len(df)) * 100
    
    # Create a summary DataFrame
    missing_df = pd.DataFrame({
        'Missing Values': missing,
        'Missing (%)': missing_percent
    })
    
    # Filter out columns with no missing values (takes in only columns with missing values)
    missing_df = missing_df.loc[missing_df['Missing Values'] > 0]
    
    if not missing_df.empty:
        print(f"\nMissing values in {df_name}:")
        display(missing_df.sort_values('Missing (%)', ascending=False))
    else:
        print(f"\nNo missing values found in {df_name}")

# Analyze missing values for each dataset
for name, df in data.items():
    analyze_missing_data(df, name)

## Next Steps
- Implement data cleaning procedures
- Handle missing values appropriately
- Engineer new features for analysis